* {
    margin: 0%;
    padding: 0%;
}

/* GRID AREA */
.container {
    display: grid;
    width: 100%;
    height: 1000px;
    grid-template: "header header"
                    "sidebar videos";
}

header {
    background-color: #202020;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    grid-area: header;
}

.menu-container {
    grid-area: sidebar;
    background-color: #212121;
    color: #dedede;
    margin-right: 10rem;
    width: 90%;
}

.video-container {
    grid-area: videos;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
}

/* END OF GRID AREA */

.youtube {
    cursor: pointer;
}

.search i {
    display: inline;
}

.fa-youtube {
    color: red;
    font-size: 1.5rem;
}

.fa-search {
    width: 3rem;
    /* height: 2rem; */
    padding: 0.5rem;
    text-align: center;
    color: #494949;
    background-color: #323232;
    cursor: pointer;
    border: none;
}

.fa-microphone {
    color: #ffffff;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.fa-video-slash, .fa-th, .fa-bell, .fa-user-circle {
    color: #ffffff;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.fa-th, .fa-bell, .fa-user-circle {
    margin-left: 1rem;
}

.fa-bars {
    color: #ffffff;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.youtube-title {
    color: #ffffff;
    font-size: 1.5rem;
}

.input-search {
    width: 700px;
    /* height: 2rem; */
    padding: 0.5rem;
    background-color: #121212;
    border: none;
}

.input-search:focus {
    padding: calc(0.5rem - 3px);
}

.input-search::placeholder {
    font-size: 1rem;
    color: #818181;
}

/* MENU */
li {
    cursor: pointer;
    display: block;
    margin-top: 1rem;
    margin-left: 1rem;
}

.list-container {
    height: 40vh;
}

.section-01 {
    list-style: none;
    border-top: 1px solid gray;
}

/* END OF MENU */

/* VIDEOS */
iframe {
    margin: 1rem;
    width: 230px;
    height: 150px;
}

/* END OF VIDEOS */