* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

/* GRID AREA */
.container {
    display: grid;
    width: 100%;
    height: 1000px;
    grid-template: "header header"
                    "sidebar tags"
                    "sidebar videos";
    grid-template-rows: 100px 60px auto;
}

header {
    background-color: #202020;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    grid-area: header;
}

header div {
    margin-top: 1rem;
}

.menu-container {
    grid-area: sidebar;
    background-color: #212121;
    color: #dedede;
    width: 100%;
    overflow-y: scroll;
}

.tag-container {
    grid-area: tags;
    height: 100%;
    background-color: #202020;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video-container {
    grid-area: videos;
    display: flex;
    justify-content: center;
}

/* END OF GRID AREA */

.youtube {
    cursor: pointer;
}

.search i {
    display: inline;
}

.fa-youtube {
    color: red;
    font-size: 1.5rem;
}

.fa-search {
    width: 3rem;
    /* height: 2rem; */
    padding: 0.5rem;
    text-align: center;
    color: #494949;
    background-color: #323232;
    cursor: pointer;
    border: none;
}

.fa-microphone {
    color: #ffffff;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.fa-video-slash, .fa-th, .fa-bell {
    color: #ffffff;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.fa-th, .fa-bell {
    margin-left: 1rem;
}

.fa-bars {
    color: #ffffff;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.youtube-title {
    color: #ffffff;
    font-size: 1.5rem;
}

.input-search {
    width: 700px;
    /* height: 2rem; */
    padding: 0.5rem;
    background-color: #121212;
    border: none;
}

.input-search:focus {
    padding: calc(0.5rem - 3px);
}

.input-search::placeholder {
    font-size: 1rem;
    color: #818181;
}

/* MENU */
li {
    cursor: pointer;
    display: block;
    margin-top: 1rem;
    padding: 1rem;
}

.section-01 {
    list-style: none;
    border-bottom: 1px solid gray;
}

.menu-container .section-01 .fa-user-circle {
    margin: 0%;
}

.menu-container .list-container ul li:hover {
    background-color: rgba(158, 158, 158, 0.2);
    padding: 1rem;
}

.first-active-item {
    background-color: rgba(158, 158, 158, 0.2);
}

.menu-container .list-container ul li:first-child:hover {
    background-color: rgba(158, 158, 158, 0.3);
}

.menu-container .list-container ul span {
    padding: 1rem;
}

.menu-container .list-container .section-06 p {
    word-spacing: 1rem;
}

.menu-container .list-container .section-06 .copyright {
    color: #606060;
}
/* END OF MENU */

/* VIDEOS */
iframe {
    margin: 1rem;
    width: 230px;
    height: 150px;
}

/* END OF VIDEOS */

/* TAGS */
.tag-container span {
    background-color: #373737;
    color: #ffffff;
    border-radius: 1rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
}

.tag-container span:hover {
    opacity: 0.9;
}

.tag-container .first-tag {
    background-color: #ffffff;
    color: #000000;
}

.tag-container .first-tag:hover {
    opacity: 0.9;
}

/* END OF TAGS */